.board {
  padding: 0 4%;
  position: relative;
  min-height: 100vh;
  background: #2a2a2a;
  //background: url('../../assets/images/gotsigils.jpg') no-repeat;
  //background-size: cover;

  &__tiles {
    padding: 50px;
    width: 50%;
    min-width: 700px;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
    background: url('../../assets/images/westeros.jpg') no-repeat;
    background-size: cover;
    border-radius: 30px;
  }

  &__tile {
    width: 70px;
    height: 70px;
    background: url('../../assets/images/SVG/frame.svg');
    display: inline-block;
    position: relative;
  }

  &__tilenr {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  &__characters {
    position: absolute;
    right: 0;
    top: 50px;
  }

  &__dice {
    font-size: 4rem;
    display: inline;
    color: #efefef;
    position: absolute;
    right: 250px;
    top: 300px;
  }

  &__button {
    width: 300px;
    font-size: 1.4rem;
    padding: 10px 20px;
    background: #ccccc0;
    margin: 50px auto;
    border: none;
    display: inline;
  }

  // tiles

  &__trap {
    background-color: firebrick;
  }

  &__ladder {
    background-color: forestgreen;
  }

  &__throne {
    position: absolute;
    width: 110px;
    top: -90px;
    left: -18px;
  }
  &__winterfell {
    width: 200px;
    position: absolute;
    left: -50px;
    top: -40px;
  }
}
