.board {
  padding: 50px 4%;
  position: relative;
  min-height: 100vh;
  background: #2a2a2a;
  //background: url('../../assets/images/gotsigils.jpg') no-repeat;
  //background-size: cover;

  &__tiles {
    padding: 50px;
    width: 50%;
    min-width: 700px;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
    background: url('../../assets/images/westeros2.jpg') no-repeat;
    background-size: cover;
    border-radius: 30px;
  }

  &__tile {
    width: 70px;
    height: 70px;
    background: url('../../assets/images/SVG/frame.svg');
    display: inline-block;
    position: relative;
  }

  &__tilenr {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  &__characters {
    position: absolute;
    right: 0;
    top: 50px;
  }

  &__dice {
    font-size: 4rem;
    display: inline;
    color: #efefef;
    position: absolute;
    right: 250px;
    top: 300px;
  }

  &__dice-img {
    width: 100px;
  }

  &__button {
    width: 300px;
    font-size: 1.4rem;
    padding: 10px 20px;
    background: #ccccc0;
    margin: 50px auto;
    border: none;
    display: inline;
  }

  // tiles

  &__trap16 {
    width: 170px;
    position: absolute;
    top: 20px;
    left: -100px;
  }

  &__trap19 {
    width: 150px;
    top: -30px;
    transform: rotate(20deg);
    position: absolute;
  }

  &__trap24 {
    width: 120px;
    position: absolute;
    left: -60px;
    top: 20px;
  }

  &__trap28 {
    width: 60px;
    position: absolute;
    left: 0;
    top: 5px;
  }

  &__red-arrow {
    position: absolute;
    width: 25px;
    right: 0;
    top: 1px;
  }

  &__trap {
  }

  &__ladder5 {
    width: 150px;
    position: absolute;
    left: -50px;
    top: 20px;
  }

  &__ladder14 {
    width: 120px;
    position: absolute;
    left: -30px;
    top: 20px;
    transform: rotate(-5deg);
  }

  &__green-arrow {
    position: absolute;
    width: 25px;
    right: 0;
    top: 1px;
  }

  &__ladder {
  }

  &__throne {
    position: absolute;
    width: 110px;
    top: -90px;
    left: -18px;
  }
  &__winterfell {
    width: 200px;
    position: absolute;
    left: -50px;
    top: -40px;
  }
}
