.character {
  margin: 0 auto;
  background: url('../../assets/images/SVG/cardFrame2.svg') no-repeat;
  background-size: contain;
  padding: 30px 26px;
  max-width: 230px;
  position: relative;

  &--onboard {
    width: 180px;
    margin-bottom: 40px;

    .character__container {
      width: 160px;
      min-height: 200px;
      margin-left: -15px;
    }

    .character__image {
      height: 110px;
    }

    .character__name {
      font-size: 1rem;
    }
  }
  &__container {
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
    margin-top: -10px;
    margin-left: -12px;
    color: #efefef;
    width: 200px;
    min-height: 270px;
  }

  &__name {
    display: block;
    font-size: 1.4rem;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  &__image {
    height: 170px;
    width: 130px;
    margin-bottom: 20px;
  }

  &__buttons {
    position: absolute;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -34.5px;
    margin-top: -5px;
  }

  &__button {
    border: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2rem;
    background: #926e52;
    color: white;
    border-radius: 4px;
    min-width: 104px;
    padding: 7px 20px;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      background: #7c5d44;
      transition: 0.2s;
    }
  }

  &__house1 {
    height: 100px;
    width: 100px;
    position: absolute;
    border: 3px solid #ce8e40;
    border-radius: 50%;
    top: -20px;
    right: -25px;
    z-index: 98;
    animation-name: beacon;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &__house2 {
    height: 100px;
    width: 100px;
    position: absolute;
    border: 3px solid #404ace;
    border-radius: 50%;
    top: -20px;
    left: -25px;
    z-index: 98;
    animation-name: beacon;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes beacon {
    0% {
    }
    50% {
      border-color: rgba(204, 49, 49, 0);
    }
    100% {
    }
  }
}
