.character {
  margin: 0 auto;
  background: url('../../assets/images/SVG/cardFrame.svg') no-repeat;
  background-size: contain;
  padding: 30px 26px;
  max-width: 230px;
  position: relative;

  &--onboard {
    width: 190px;

    .character__container {
      width: 180px;
      min-height: 240px;
      margin-left: -5px;
    }

    .character__image {
      height: 130px;
    }
  }
  &__container {
    text-align: center;
    background-color: #2a2a2a;
    border-radius: 15px;
    margin-top: -10px;
    margin-left: -12px;
    color: #efefef;
    width: 220px;
    min-height: 270px;
  }

  &__name {
    display: block;
    font-size: 1.4rem;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  &__image {
    height: 170px;
    width: 130px;
    margin-bottom: 20px;
  }

  &__buttons {
    position: absolute;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -23px;
    margin-top: -10px;
  }

  &__button {
    border: none;
    background: #3e3434;
    color: white;
    border-radius: 10px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;

    &:hover {
      background: #000;
    }
  }

  &__house1 {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: rgba(211, 46, 46, 0.281);
    border-radius: 50%;
    top: -20px;
    right: -50px;
    z-index: 99;
  }

  &__house2 {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: rgba(46, 76, 211, 0.281);
    border-radius: 50%;
    top: -20px;
    left: -50px;
    z-index: 99;
  }
}
