.victory {
  height: calc(100vh - 80px);
  width: 100%;
  background: url('../../assets/images/gotmap2.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  &__overlay {
    background: rgba(0, 0, 0, 0);
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__text {
    font-size: 0.8rem;
    max-width: 500px;
    margin-top: 25vh;
    color: #efefef;
    font-family: 'game';
    letter-spacing: 6px;
    word-spacing: 10px;
    line-height: 50px;
  }

  &__canvas {
    height: calc(120vh);
    max-width: 500px;
  }

  &__btn-wrapper {
    margin-top: 50px;
  }

  &__btn {
    padding: 20px 60px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #efefef;
    cursor: pointer;
  }
}
