@font-face {
  font-family: game;
  src: url('../assets/fonts/thrones.ttf');
}

@import './pages/charSelect';
@import './components//header';
@import './components/layout';
@import './components/charModal.scss';
@import './components/board';
@import './components/victory';
@import './components/character';
@import './components/ironThrone';

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
