@font-face {
  font-family: game;
  src: url('../assets/fonts/thrones.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');

@import './pages/charSelect';
@import './components//header';
@import './components/layout';
@import './components/charModal';
@import './components/board';
@import './components/victory';
@import './components/character';
@import './components/ironThrone';
@import './components/boardModal';

body,
html {
  background: #2a2a2a;
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
